@model Dictionary<string, int>

<nav class="tickets-nav">
    <ul>
        <li>
            <a asp-controller="Tickets" asp-action="Tickets" asp-route-keyword="my">
                My tickets
                <span class="t-count">@Model["my"]</span>
            </a>
        </li>
        <li>
            <a asp-controller="Tickets" asp-action="Tickets" asp-route-keyword="to me">
                Assigned to me 
                <span class="t-count">
                    @Model["to me"]
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="Tickets" asp-action="Tickets" asp-route-keyword="answers">
                New answers 
                <span class="t-count">
                    @Model["answers"]
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="Tickets" asp-action="Tickets" asp-route-keyword="new">
                New tickets 
                <span class="t-count">
                    @Model["new"]
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="Tickets" asp-action="Tickets" asp-route-keyword="all">
                All tickets 
                <span class="t-count">
                    @Model["all"]
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="Tickets" asp-action="Tickets" asp-route-keyword="history">
                History 
                <span class="t-count">
                    @Model["history"]
                </span>
            </a>
        </li>
    </ul>
</nav>