@using STS.Web.ViewModels.Tickets;
@model TicketsListViewModel;

@{
    ViewData["Title"] = "Tickets";
}

<article class="ticket-search-art">
    <section>
        <a class="create-btn" asp-controller="Tickets" asp-action="Create" title="Create a new ticket...">New Ticket</a>
    </section>
    <section class="search-section">
        <form>
            <input class="search-input-field" name="search" type="text" placeholder="Searching terms..." />
            <button class="search-btn" type="submit">Search</button>
        </form>
    </section>
</article>

<article class="tickets-container">
    <nav class="tickets-nav">
        <ul>
            <li><a asp-action="">Tickets</a></li>
            <li><a asp-action="">New answer</a></li>
            <li><a asp-action="">Assigned to me</a></li>
            <li><a asp-action="">Me tickets</a></li>
        </ul>
    </nav>
    <div class="tickets-wrapper">
        <section class="tickets-list">
            <article class="tickets-table">
                <header class="tickets-table-header">
                    <div class="t-num-header">Ticket</div>
                    <div class="t-num-status">Status</div>
                    <div class="t-num-priority">Prioriry</div>
                    <div class="t-num-title">Title</div>
                    <div class="t-num-created">Date</div>
                    <div class="t-num-assigned">Assigned to</div>
                </header>

                @foreach (var ticket in Model.Tickets)
                {
                    <a class="tickets-table-row" asp-action="Ticket" asp-route-id="@ticket.Id">
                        <div>@ticket.Id</div>
                        <div><span class="status @ticket.StatusName.ToLower()">@ticket.StatusName</span></div>
                        <div><span class="priority @ticket.PriorityName.ToLower()">@ticket.PriorityName</span></div>
                        <div>@(ticket.Title.Length < 50 ? ticket.Title : $"{ticket.Title.Substring(0, 50)}...")</div>
                        <div>@ticket.CreatedOn.ToString("MM/dd/yy")</div>
                        <div>
                            @(ticket.AssignedToUserName == null
                        ? "unassigned"
                        : ticket.AssignedToUserName )
                        </div>
                    </a>
                }
            </article>
        </section>
        <nav class="page-nav">
            <ul class="page-nav-list">
 
                @if (Model.HasPreviousPage)
                {
                                   <li>
                    <a asp-action="Tickets" asp-route-page="@Model.PreviousPage">Previous</a>
                </li>
                    <li>
                        <a asp-action="Tickets" asp-route-page="@(Model.Page - 1)">@(Model.Page - 1)</a>
                    </li>
                }
                <li>
                    <a asp-action="Tickets" asp-route-page="@Model.Page">@Model.Page</a>
                </li>
                @if (Model.HasNextPage)
                {
                    <li>
                        <a asp-action="Tickets" asp-route-page="@(Model.Page + 1)">@(Model.Page + 1)</a>
                    </li>
                      <li>
                    <a asp-action="Tickets" asp-route-page="@Model.NextPage">Next</a>
                </li>
                }
              
            </ul>
        </nav>
    </div>

    <aside class="tasks-review">
        <vc:tasks-side-bar></vc:tasks-side-bar>
    </aside>

</article>