@using STS.Web.ViewModels.User;
@model UsersViewModel;


@foreach (var user in Model.Users)
{
    <p>@user.FullName // @user.Email @user.UserName @user.DepartmentName @user.Position @user.PhoneNumber @string.Join(", ", user.Roles)</p>
}

@*you have pagination*@

   <a asp-area="Administartion" asp-controller="Administration" asp-action="EditUser" asp-route-id="422e95e2-1708-477b-ac56-376a7f3f329e">Edit user</a>
