@using STS.Web.ViewModels.User;
@model UsersViewModel;

@{
    ViewData["Title"] = "Users";
}

<article class="admin-users">
    <section class="user-search-section">
        <form method="get" asp-area="Administration" asp-controller="Administration" asp-action="Users" class="manager-search-form">
            <div>
                <input name="keyword"
                       type="text"
                       value="@(Model.Keyword != null ? Model.Keyword : null)"
                       class="search-input-field"
                       placeholder="Search...">
            </div>

            <div class="p-select">
                <select class="form-control-sm t-employee-select"
                        for="DepartmentId"
                        name="DepartmentId"
                        asp-items="Model.Departments.Select(x => new SelectListItem(x.Name, x.Id.ToString()))">
                    <option value="" selected="selected">Please select</option>
                </select>

                <button class="tasks-search-btn" type="submit">Go</button>
            </div>
        </form>
    </section>

    <section class="users-table">
        <header class="users-talbe-header">
            <div>Username</div>
            <div>Email</div>
            <div>Full Name</div>
            <div>Department</div>
            <div>Position</div>
            <div>Roles</div>
            <div>Phone Number</div>
            <div></div>
        </header>

        @foreach (var user in Model.Users)
        {
            <div class="user-row">
                <div>@user.UserName</div>
                <div>@user.Email</div>
                <div>@user.FullName</div>
                <div>@user.DepartmentName</div>
                <div>@user.Position</div>
                <div>@string.Join(", ", user.Roles)</div>
                <div>@user.PhoneNumber</div>
                <div>
                    <a class="user-edit-btn" title="Edit user data" asp-area="Administartion" asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    @if (user.IsLockedOut)
                    {
                        <a class="user-lockout-btn" title="Unlock user" asp-area="Administartion" asp-controller="Administration" asp-action="UnlockUser" asp-route-id="@user.Id">
                            <i class="fa fa-unlock"></i>
                        </a>
                    }
                    else
                    {
                        <a class="user-lockout-btn" title="Lockout user" asp-area="Administartion" asp-controller="Administration" asp-action="LockoutUser" asp-route-id="@user.Id">
                            <i class="fa fa-ban"></i>
                        </a>
                    }
                    <a class="user-delete-btn" asp-area="Administartion" title="Delete user" asp-controller="Administration" asp-action="DeleteUser" asp-route-id="@user.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        }
    </section>
    <section class="pagination">
        @if (Model.PagesCount > 1)
        {
            <nav class="page-nav">
                <ul class="page-nav-list">

                    @if (Model.HasPreviousPage)
                    {
                        <li>
                            <a asp-area="Administartion"
                       asp-controller="Administration"
                       asp-action="Users"
                       asp-route-page="@Model.PreviousPage"
                       asp-route-keyword="@Model.Keyword"
                       asp-route-departmentId="@Model.DepartmentId">
                                Previous
                            </a>
                        </li>
                        <li>
                            <a asp-area="Administartion"
                       asp-controller="Administration"
                       asp-action="Users"
                       asp-route-page="@(Model.Page - 1)"
                       asp-route-keyword="@Model.Keyword"
                       asp-route-departmentId="@Model.DepartmentId">
                                @(Model.Page - 1)
                            </a>
                        </li>
                    }

                    <li>
                        <a asp-area="Administartion"
                       asp-controller="Administration"
                       asp-action="Users"
                       asp-route-page="@Model.Page"
                       asp-route-keyword="@Model.Keyword"
                       asp-route-departmentId="@Model.DepartmentId">
                            @Model.Page
                        </a>
                    </li>

                    @if (Model.HasNextPage)
                    {
                        <li>
                            <a asp-area="Administartion"
                       asp-controller="Administration"
                       asp-action="Users"
                       asp-route-page="@(Model.Page + 1)"
                       asp-route-keyword="@Model.Keyword"
                       asp-route-departmentId="@Model.DepartmentId">
                                @(Model.Page + 1)
                            </a>
                        </li>
                        <li>
                            <a asp-area="Administartion"
                       asp-controller="Administration"
                       asp-action="Users"
                       asp-route-page="@Model.NextPage"
                       asp-route-keyword="@Model.Keyword"
                       asp-route-departmentId="@Model.DepartmentId">
                                Next
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        }
    </section>
</article>